body {
  background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("natto.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 300px;
}

.header{
  overflow: hidden;
  padding: 20px;
}

.header-right{
  float: right;
}

.header img{
  float: left;
  margin-right: 50px;
}

marquee {
    background-color: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 20px;
}

.NATO {
    margin-top: 60px;
    color: white;
    font-family: '18 ARMY Regular';
    font-size: 100px;
    /* text-align: left; */
    /* padding-left: 100px; */
  }

  .subscribe-container {
    float: right;
    width: auto;
    margin-top: -200px;
    margin-left: 150px;
}

.subscribe-btn:link {
    color: #fff;
    transition: none;
}


.subscribe-btn {
    position: relative;
    display: inline-block;
    padding: 0 40px 0 10px;
    background-color: #9EA5A9;
    text-transform: uppercase;
    white-space: nowrap;
    height: 30px;
    line-height: 32px;
    font-family: 'Old Standard TT', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.subscribe-btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    border-style: solid;
    border-color: #64696B #64696B #64696B transparent;
    border-width: 0 0 30px 30px;
}

.ribon{
  margin-top: -50px;
}

@font-face {
  font-family: '18 ARMY Regular';
  font-style: normal;
  font-weight: normal;
  src: local('18 ARMY Regular'), url('fonts/18 ARMY.woff') format('woff');
  }