body {
  background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
  overflow: hidden;
  padding: 20px;
  background-image: url("natto.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 300px;
  background-color: black;
}

.header-right{
  float: right;
}

.header img{
  float: left;
  margin-right: 50px;
}

marquee {
    background-color: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 22px;
}

.NATO {
    margin-top: 60px;
    color: white;
    font-family: '18 ARMY Regular';
    font-size: 100px;
    /* text-align: left; */
    /* padding-left: 100px; */
  }

  .subscribe-container {
    float: right;
    width: auto;
    margin-top: -200px;
    margin-left: 150px;
}

.subscribe-btn:link {
    color: #fff;
    transition: none;
}


.subscribe-btn {
    position: relative;
    display: inline-block;
    padding: 0 40px 0 10px;
    background-color: #9EA5A9;
    text-transform: uppercase;
    white-space: nowrap;
    height: 30px;
    line-height: 32px;
    font-family: 'Old Standard TT', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.subscribe-btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    border-style: solid;
    border-color: #64696B #64696B #64696B transparent;
    border-width: 0 0 30px 30px;
}

.ribon{
  margin-top: -50px;
}

#menu {
  margin: 0;
  width: auto;
  background-color: #565656;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  margin-top: -5px;
}

#menu ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  height: auto;
}

#menu li {
  display: inline;
  padding: 8px;
}

#menu a {
  color: #FFF;
  padding: 10px;
  text-decoration: none;
}

#menu a:hover {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

#menu li .active {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

@font-face {
  font-family: '18 ARMY Regular';
  font-style: normal;
  font-weight: normal;
  src: local('18 ARMY Regular'), url('fonts/18 ARMY.woff') format('woff');
  }

  .video{
    padding: 35px;
    display: inline-block;
  }

  .video2{
    padding: 35px;
    display: inline-block;
  }

  .video3{
    padding: 35px;
    display: inline-block;
  }

  .video4{
    padding: 35px;
    display: inline-block;
  }
 
  .images
{
  display: inline-block;
  width: 600px;
  height: 400px;
  padding: 10px;
  margin-left: 10px;
}

#content
{
 display: block;
 margin: 0px;
 padding: 0px;
 position: relative;
 top: 90px;
 height: auto;
 max-width: auto;
 overflow-y: hidden;
 overflow-x:auto;
}

  .portret{
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 30px;
    margin-left: 30px;
  }