body {
  background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("natto.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 400px;
}

.header{
  overflow: hidden;
  padding: 20px;
}

.header-right{
  float: right;
}

.header img{
  float: left;
  margin-right: 50px;
}

marquee {
    background-color: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 25px;
}

.NATO {
    margin-top: 60px;
    color: white;
    font-family: '18 ARMY Regular';
    font-size: 135px;
    /* text-align: left; */
    /* padding-left: 100px; */
  }

.ribon{
  margin-top: -50px;
}

@font-face {
  font-family: '18 ARMY Regular';
  font-style: normal;
  font-weight: normal;
  src: local('18 ARMY Regular'), url('fonts/18 ARMY.woff') format('woff');
  }
